OPENAI_API_KEY=your_key
ANTHROPIC_API_KEY=your_key
SKILL_SPACE_PATH=data/florida-doe/skill-space.csv
TAGGED_PRACTICE_ITEMS_WITH_RESPONSES_CSV=data/florida-doe/tagged-practice-items-with-responses.csv
OVERSAMPLED_ITEMS_CSV=data/florida-doe/tagged-practice-items-with-responses.csv     # example csv with skill and related problem information, can be extended by adding new skill-aligned problems to provide more item diversity to test and upskill learners.
EEDI_SAMPLED_CONVERSATIONS_PATH=  # path to your Eedi dataset (not included in this repo)
